<br>
<h3>Operations (Words)</h3>
<p>
{% for api in site.apis %} 
    {% assign openapi_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
    {% if openapi_slug == this_openapi_slug %}
        {% for path in api.paths %} 
            {% for operation in path[1] %} 
                {% if operation[0] == 'get' or operation[0] == 'post' or operation[0] == 'put' or operation[0] == 'patch' or operation[0] == 'delete' %}
                    {% if operation[1].summary %}
                        {{ operation[1].summary }}, 
                    {% else %} 
                        {{ operation[1].description }}, 
                    {% endif %} 
                {% endif %}    
            {% endfor %}
        {% endfor %}
    {% endif %}    
{% endfor %}  
</p> 