{% assign all_properties = "" %}

{% for property in page.common %}        
    {% assign already = 0 %}
    {% if all_properties contains property.type %}
        {% assign already = 1 %}
    {% endif %}    
    {% if already == 0 %}
        {% assign all_properties = all_properties | append: ',' | append: property.type %}
    {% endif %}        
{% endfor %}

{% for api in page.apis %} 
    {% for property in api.properties %}        
        {% assign already = 0 %}
        {% if all_properties contains property.type %}
            {% assign already = 1 %}
        {% endif %}    
        {% if already == 0 and property != '' %}
            {% assign all_properties = all_properties | append: ',' | append: property.type %}
        {% endif %}        
    {% endfor %}                
{% endfor %}  

{% assign properties = all_properties | split: "," | sort %}  