{% assign all_tags = "" %}
{% assign posts = site.posts %}
{% for tag in page.tags %}        
    {% assign already = 0 %}
    {% if all_tags contains tag %}
        {% assign already = 1 %}
    {% endif %}    
    {% if already == 0 and tag != '' %}
        {% assign all_tags = all_tags | append: ',' | append: tag %}
    {% endif %}        
{% endfor %}

{% for api in page.apis %} 
    {% for tag in api.tags %}        
        {% assign already = 0 %}
        {% if all_tags contains tag %}
            {% assign already = 1 %}
        {% endif %}    
        {% if already == 0 and tag != '' %}
            {% assign all_tags = all_tags | append: ',' | append: tag %}
        {% endif %}        
    {% endfor %}                
{% endfor %}  

{% assign tags = all_tags | split: "," | sort %}