---
layout: default
---

<style>
@font-face {
    font-family: darktech;
    src: url(/assets/fonts/darktech-ldr.regular.ttf);
}
@font-face {
    font-family: saiba;
    src: url(/assets/fonts/saiba-45.ttf);
}
  
</style>
<div class="uk-section">
    <div class="uk-container uk-container-xlarge">
        <article class="uk-article">            

            <div class="article-content">

                <div style="border: 1px solid #000; width: 100%; padding: 20px; margin: 5px; border-radius: 25px;">

                    <h1 class="uk-article-title">{{ page.name | escape }}</h1>

                    <p>{{ page.description }}</p>  

                    {% assign slug = page.url | replace: '/apis/','' | replace: '/index/','' %}
                    {% assign slug_replace = slug | append: '-' %}
                    
                    <h2>Tags (Words)</h2>
                    {% include tags-openapi.html %}
                    <div style="padding: 20px;">
                    {% for tag in tags %}
                        {% if tag != '' %}
                            {{ tag }}, 
                        {% endif %}
                    {% endfor %}
                    </div>  
                    
                    <h2>Tags (Icons):</h2>
                    {% for icon in page.tags %}
                        <div style="text-align: center; width: 75px; display: inline;">{% assign icon = icon | replace: ' ','-' | replace: '%20','-' %}<img src="https://kinlane-productions2.s3.amazonaws.com/apis-json-icons/{{ icon | downcase | replace: ' ','-' | replace: '%20','-' | strip }}.png" width="75" style="padding: 3px; display: inline;" title="{{ icon }}"></div>
                    {% endfor %}     
                    <br>                
                                
                    <h2>Properties</h2>
                    {% include properties-openapi.html %}                
                    <div style="padding: 20px;">
                    {% for property in properties %}
                        {% if property != '' %}
                            {{ property }}, 
                        {% endif %}
                    {% endfor %}
                    </div> 
                    
                    {% assign all_paths = "" %}

                    {% assign all_apis = site.apis %}
                    
                    <textarea id="subway-maps" style="display: none">
                    ["none"{% for api in site.apis %}{% assign this_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}{% if this_slug contains "subway" %}
                    ,"map-{{ this_slug | replace: '-subway','' }}"{% endif %}{% endfor %}  
                    ]</textarea>

                </div>

                {% assign api_count = 1 %}
                {% for api in page.apis %} 
                
                    <div style="border: 1px solid #000; width: 100%; padding: 20px; margin: 5px; border-radius: 25px;">

                    {% for property in api.properties %} 

                        {% if property.type == 'OpenAPI' %}
                        
                            {% assign this_slug = property.url | replace: '.yml','' | replace: '-openapi','' | replace: '.md','' %}
                            {% assign this_openapi_slug = this_slug | append: '-openapi' %}
                            {% assign this_subway_slug = this_slug | append: '-subway' %}
                            {% assign this_ratings_slug = this_slug | append: '-ratings' %}

                            <h2>{{ api.name }}</h2>
                            <p>{{ api.description }}</p>

                            {% assign api_tags = "" %}

                            {% for api in site.apis %} 
                                {% assign openapi_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
                                {% if openapi_slug == this_openapi_slug %}
                                
                                    {% for path in api.paths %} 
                                        {% for operation in path[1] %} 
                                            {% for operation_tag in operation[1].tags %} 
                                                {% assign already = 0 %}
                                                {% if api_tags contains operation_tag %}
                                                    {% assign already = 1 %}
                                                {% endif %}   
                                                {% if already == 0 %}
                                                    {% assign api_tags = api_tags | append: ',' | append: operation_tag %}
                                                {% endif %}                                                                                                      
                                            {% endfor %}                                                  
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}    
                            {% endfor %}  
                            {% for api_tag in api.tags %} 
                                {% assign already = 0 %}
                                {% if api_tags contains api_tag %}
                                    {% assign already = 1 %}
                                {% endif %}   
                                {% if already == 0 %}
                                    {% assign api_tags = api_tags | append: ',' | append: api_tag %}
                                {% endif %}                                                                                                      
                            {% endfor %}                       
                            {% assign api_tags = api_tags | remove_first: "," | replace: ",",", " %}                                          

                            <h3>Tags (Words):</h3>
                            <p>{{ api_tags }}</p>

                            <h3>Tags (Words):</h3>
                            {% assign api_tags_icons = api_tags | split: ", " %}
                            <div style="width: 100%; height: 100px;">
                                {% for icon in api_tags_icons %}
                                    <div style="border: 2px solid #000; line-height: 32px; font-size: 24px; font-family: saiba; display: inline; padding: 4px;border-radius: 25px;">{{ icon }}</div>
                                {% endfor %}     
                            </div>                            

                            <h3>Tags (Icons):</h3>
                            {% assign api_tags_icons = api_tags | split: ", " %}
                            {% for icon in api_tags_icons %}
                            <div style="text-align: center; width: 75px; display: inline;">{% assign icon = icon | replace: ' ','-' | replace: '%20','-' %}<img src="https://kinlane-productions2.s3.amazonaws.com/apis-json-icons/{{ icon | downcase | replace: ' ','-' | replace: '%20','-' | strip }}.png" width="75" style="padding: 3px; display: inline;" title="{{ icon }}"></div>
                            {% endfor %}     
                            <br>
                            <h3>Operations (Words)</h3>
                            <p>
                            {% for api in site.apis %} 
                                {% assign openapi_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
                                {% if openapi_slug == this_openapi_slug %}
                                    {% for path in api.paths %} 
                                        {% for operation in path[1] %} 
                                            {% if operation[0] == 'get' or operation[0] == 'post' or operation[0] == 'put' or operation[0] == 'patch' or operation[0] == 'delete' %}
                                                {% if operation[1].summary %}
                                                    {{ operation[1].summary }}, 
                                                {% else %} 
                                                    {{ operation[1].description }}, 
                                                {% endif %} 
                                            {% endif %}    
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}    
                            {% endfor %}  
                            </p>                                                                                   

                        <!-- Begin Subway Map -->
                        {% for api in site.apis %} 
                            {% assign subway_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
                            {% if subway_slug == this_subway_slug %} 
                                <h3>Operation (Subway - Mouse Over Below)</h3>                          
                                <div id="map-{{ this_slug }}" style="border: 1px solid #FFF;">        
                                    <script type="text/paperscript" src="../../../assets/js/viewer.js" canvas="canvas-{{ this_slug }}"></script>
                                    <textarea style="display: none;" id="map-{{ this_slug }}-store">{"tracks":{{ api.tracks | jsonify }},"connections":[]}</textarea>        
                                    <div id="canvas-{{ this_slug }}-wrapper">                                                
                                        <canvas style="width: 100%; height: 500px; border: 0px solid #FFF;" id="canvas-{{ this_slug }}">MOUSOVER!!!</canvas>
                                    </div>
                                </div>

                            {% endif %}    
                        {% endfor %} 
                        <!-- Begin Subway Map -->                               

                        <!-- Begin Ratings -->
                        {% for ratings in site.apis %} 
                            {% assign rating_slug = ratings.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}                            
                            {% if rating_slug == this_ratings_slug %} 
                                
                                <h3>Ratings</h3>  
                                <div style="overflow: auto; height: 500px; border: 1px solid #FFF">
                                    <ul>     
                                        {% for rule in ratings %}        
                                            {% if rule contains "openapi" %}
                                                <li>{{ ratings[rule].message }} ({{ rule }}): {{ ratings[rule].errors }}/{{ ratings[rule].warn }}/{{ ratings[rule].info }}/{{ ratings[rule].hints }}</li>
                                            {% endif %}                                                                                   
                                        {% endfor %} 
                                    </ul>
                                </div>

                            {% endif %}    
                        {% endfor %}  
                        <!-- Begin Ratings -->  

                        {% endif %}           

                    {% endfor %}                      
                    <br>
                    <h3>API Properties (Words)</h3>           
                    <ul>
                        {% for property in api.properties %}
                            <li>{{ property.type }} - {{ property.url }}</li>
                        {% endfor %}
                    </ul>

                    <h3>API Properties (Icons)</h3>           
                    {% for property in api.properties %}
                        <div style="text-align: center; width: 75px; display: inline;">{% assign icon = icon | replace: ' ','-' | replace: '%20','-' %}<img src="https://kinlane-productions2.s3.amazonaws.com/apis-json-icons/{{ property.type | downcase | replace: ' ','-' | replace: '%20','-' | strip }}.png" width="75" style="padding: 3px; display: inline;" title="{{ property.type }}"></div>
                    {% endfor %}                  
                    
                </div>
                    {% assign api_count = api_count | plus: 1 %}
                {% endfor %}                                      

            </div>

        </article>

    </div>
</div>
