---
layout: default
---

<style>
@font-face {
    font-family: darktech;
    src: url(/assets/fonts/darktech-ldr.regular.ttf);
}
@font-face {
    font-family: saiba;
    src: url(/assets/fonts/saiba-45.ttf);
}
  
</style>
<div class="uk-section">
    <div class="uk-container uk-container-xlarge">
        <article class="uk-article">            

            <div class="article-content">

                <div style="border: 1px solid #000; width: 1000px; padding: 20px; margin: 5px; border-radius: 25px;">

                    <h1 class="uk-article-title">{{ page.name | escape }}</h1>

                    <p>{{ page.description }}</p>  

                    {% assign slug = page.url | replace: '/apis/','' | replace: '/index/','' %}
                    {% assign slug_replace = slug | append: '-' %}
                    
                    <h2>Tags (Words)</h2>
                    {% include tags-openapi.html %}
                    <div style="padding: 20px;">
                    {% for tag in tags %}
                        {% if tag != '' %}
                            {{ tag }}, 
                        {% endif %}
                    {% endfor %}
                    </div>                               
                                
                    <h2>Properties</h2>
                    {% include properties-openapi.html %}                
                    <div style="padding: 20px;">
                    {% for property in properties %}
                        {% if property != '' %}
                            {{ property }}, 
                        {% endif %}
                    {% endfor %}
                    </div> 
                    
                    {% assign all_paths = "" %}

                    {% assign all_apis = site.apis %}

                </div>

                {% assign api_count = 1 %}
                {% for api in page.apis %} 
                
                    <div style="border: 1px solid #000; width: 1000px; padding: 20px; margin: 5px; border-radius: 25px;">

                    {% for property in api.properties %} 

                        {% if property.type == 'OpenAPI' %}
                        
                        {% assign this_slug = property.url | replace: '.yml','' | replace: '.md','' | replace: '-openapi','' | replace: 'https://raw.githubusercontent.com/api-search/explore/main/_apis/','' | replace: slug_replace,'' | replace: '/properties/','' %}
                            {% assign this_openapi_slug = this_slug | append: '-openapi' %}
                            {% assign this_subway_slug = this_slug | append: '-subway' %}
                            {% assign this_ratings_slug = this_slug | append: '-ratings' %}

                            <h2>{{ api.name }}</h2>
                            <p>{{ api.description }}</p>

                            {% assign api_tags = "" %}

                            {% for api in site.apis %} 
                            {% assign openapi_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
                                {% if openapi_slug == this_openapi_slug %}
                                
                                    {% for path in api.paths %} 
                                        {% for operation in path[1] %} 
                                            {% for operation_tag in operation[1].tags %} 
                                                {% assign already = 0 %}
                                                {% if api_tags contains operation_tag %}
                                                    {% assign already = 1 %}
                                                {% endif %}   
                                                {% if already == 0 %}
                                                    {% assign api_tags = api_tags | append: ',' | append: operation_tag %}
                                                {% endif %}                                                                                                      
                                            {% endfor %}                                                  
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}    
                            {% endfor %}  
                            
                            {% for api_tag in api.tags %} 
                                {% assign already = 0 %}
                                {% if api_tags contains api_tag %}
                                    {% assign already = 1 %}
                                {% endif %}   
                                {% if already == 0 %}
                                    {% assign api_tags = api_tags | append: ',' | append: api_tag %}
                                {% endif %}                                                                                                      
                            {% endfor %}                       
                            {% assign api_tags = api_tags | remove_first: "," | replace: ",",", " %}                                          

                            <h3>Tags (Words):</h3>
                            <p>{{ api_tags }}</p>                          

                            <!--<h3>Operations (Words)</h3>
                            <p>
                            {% for api in site.apis %} 
                                {% assign openapi_slug = api.url | replace: '/apis/','' | replace: slug,'' | replace: '/properties/','' | replace: '/','' %}
                                {% if openapi_slug == this_openapi_slug %}
                                    {% for path in api.paths %} 
                                        {% for operation in path[1] %} 
                                            {% if operation[0] == 'get' or operation[0] == 'post' or operation[0] == 'put' or operation[0] == 'patch' or operation[0] == 'delete' %}
                                                {% if operation[1].summary %}
                                                    {{ operation[1].summary }}, 
                                                {% else %} 
                                                    {{ operation[1].description }}, 
                                                {% endif %} 
                                            {% endif %}    
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}    
                            {% endfor %}  
                            </p> 
                            --->                                                                                                              

                        {% endif %}           

                    {% endfor %}                      
                    <br>
                    <h3>API Properties (Words)</h3>           
                    <ul>
                        {% for property in api.properties %}
                            <li>{{ property.type }} - {{ property.url }}</li>
                        {% endfor %}
                    </ul>

                </div>
                    {% assign api_count = api_count | plus: 1 %}
                {% endfor %}                                      

            </div>

        </article>

    </div>
</div>
